
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: 100%;
  z-index: 9999;
  margin-inline: 20px;
}

.modal *,
.modal *::before,
.modal *::after {
  box-sizing: border-box;
}

.modal-dialog {
  max-width: 1170px;
  margin-inline: auto;
  margin-top: 50px;
  background-color: #fff;
  height: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  padding: 40px 20px 20px;
  border-radius: 9px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}